*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    margin-top: 30px;
    margin-bottom: 40px;
}

.header__inner{
    display: flex;
    flex-direction: column;
}

.header__form{
    display: flex;
    align-items: center;
    position: relative;
    left: 475px;
    margin-bottom: 30px;
    width: 180px;
    border: none;
    padding: 10px 15px 10px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 20px;

    border-radius: 5px;
}

.header__title{
    text-align: center;
    color: rgba(29, 38, 44, 1);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header__title-span{
    color: rgba(243, 71, 122, 1);
}

.header__button-addtask{
    color: #fff;
    background-color: rgba(136, 76, 178, 1);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 auto;

    transition: background-color .2s linear;
}

.header__button-addtask:hover{
    background-color: rgb(94, 18, 149);
}

.fa-square-plus{
    margin-right: 5px;
}

.onhold{
    margin-bottom: 50px;
}

.onhold__inner, 
.completed__inner{
    display: flex;
    flex-direction: column;
}

.onhold__title,
.completed__title{
    color: rgba(29, 38, 44, 1);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.onhold__list,
.completed__list{
    display: flex;
    flex-direction: column;
}

.onhold__list-item,
.completed__list-item{
    padding: 10px 0px 10px;
    border-bottom: 2px solid rgba(224, 224, 224, 1);
    margin-bottom: 10px;
    position: relative;

    transition: padding-bottom .2s linear;
}

.onhold__item-high{
    padding-bottom: 50px;
}

.list__item-visible{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.list__item-title{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    width: 400px;
    text-align: left;
}

.list__item-title::before{
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    color: transparent;
    background-image: linear-gradient(133.9deg, rgba(243, 71, 122, 0.7) 0.24%, rgba(136, 76, 178, 0.7) 95.04%);
    border-radius: 50%;
    position: relative;
    top: 3px;
    right: 10px;
}

.list__item-status{
    width: 90px;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 8px;
    padding: 5px 10px;
}

.status-pending{
    color: rgba(242, 153, 74, 1);
    background-color: rgba(242, 153, 74, 0.2);
}

.status-in-progress{
    color: rgba(86, 204, 242, 1);
    background-color: rgba(86, 204, 242, 0.2);
}

.status-completed{
    color: rgba(39, 174, 96, 1);
    background-color: rgba(39, 174, 96, 0.2);
}

.list__item-eta{
    text-align: center;
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgba(92, 98, 109, 1);
    font-family: 'Montserrat', sans-serif;
}

.list__item-eta::before{
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border: 4px solid #219653;
    border-radius: 50%;
    margin-right: 4px;
}

.eta-normal::before{
    border-color: rgba(242, 201, 76, 1);
}

.eta-asap::before{
    border-color: rgba(235, 87, 87, 1);
}

.list__item-buttons{
    background-color: rgba(242, 242, 242, 1);
    width: 100px;
    border-radius: 5px;
    z-index: 1000;
    padding: 10px 18px;

    transition: transform .2s linear;
}

.fa-ellipsis-vertical{
    color: rgba(220, 217, 217, 1);
    font-size: 18px;

    transition: transform .2s linear;
}

.item__buttons-active{
    transform: rotate(-90deg);
}

.list__hidden-menu{
    display: none;
    width: 100px;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0px;
    border: none;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 1);
}

.show__hidden-menu{
    display: flex;
    z-index: 1000;
}

.hidden__menu-item{
    color: rgb(130, 112, 112);
    text-align: center;
}

#startStopButton,
#completeButton,
#deleteButton{
    color: rgb(159, 142, 142);
}

.list__item-hiddentext{
    display: none;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(159, 142, 142);
    width: 400px;
    font-style: italic;

    transition: display .2s linear;
}

.show-hiddentext{
    display: block;
}

.menu__hidden-delete{
    color: #fff;
    background-color: rgb(234, 83, 83);
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 15px;

    transition: background-color .2s linear;
}

.menu__hidden-delete:hover{
    background-color: rgb(242, 35, 35);
}

.title-completed{
    color: rgba(189, 189, 189, 1);
}

.title-completed::before{
    padding-left: 0px;
    display: none;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    width: 900px;
    height: 600px;
    position: fixed;
    top: 10%;
    left: 20%;
    z-index: 1000;
}

.close-btn{
    font-size: 40px;
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 1000;
}

.modal__title{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 70px 0px 30px;
}

.modal__form{
    display: flex;
    flex-direction: column;
}

.modal__input{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 350px;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0px 10px;
}

.modal__eta{
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 30px;
}

.modal__eta-title{
    margin: 0 auto 20px;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.choose__radio{
    margin: 0px 10px 20px 10px;
    cursor: pointer;
}

.modal__submit{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(133.9deg, rgba(243, 71, 122, 0.7) 0.24%, rgba(136, 76, 178, 0.7) 95.04%);
    padding: 10px 15px;
}

.hide{
    display: none;
}

@media screen and (max-width: 1201px){
    .header__form{
        left: 470px;
    }

    .modal{
        left: 15%;
        width: 750px;
    }

    .close-btn{
        right: 7%;
    }
}

@media screen and(max-width: 1026px){
    .header__form{
        left: 390px;
    }
}

@media screen and (max-width: 770px){
    .header__form{
        left: 260px;
    }

    .modal{
        left: 10%;
        width: 600px;
    }

    .close-btn{
        right: 10%;
    }

    .list__item-title{
        width: 200px;
    }
}

@media screen and (max-width: 482px){
    .header__form{
        display: none;
    }

    .header__title{
        margin: 30px 0px 50px;
        font-size: 30px;
    }

    .modal{
        width: 400px;
        height: 530px;
        top: 5%;
        left: 8%;
    }

    .close-btn{
        right: 7%;
        font-size: 30px;
    }

    .modal__input{
        width: 250px;
        height: 50px;
    }

    .modal__eta{
        width: 250px;
        margin-bottom: 20px;
    }

    .list__item-title{
        width: 150px;
        margin: 0px 0px 10px;
    }

    .list__item-title::before{
        display: none;
    }

    .list__item-hiddentext{
        width: 200px;
        margin-left: 10px;
    }

    .list__item-status{
        width: 70px;
    }

    .list__item-eta{
        border-radius: 5px;
        padding: 5px 10px;
        text-align: center;
    }

    .eta-normal{
        color: rgb(213, 167, 29);
        background-color: rgb(255, 234, 170);
    }

    .eta-minor{
        color: #219653;
        background-color: #9beebf;
        padding: 5px 20px;
    }

    .eta-asap{
        color: rgba(235, 87, 87, 1);
        background-color: rgb(255, 158, 158);
        padding: 5px 20px;
    }

    .list__item-eta::before{
        display: none;
    }

    .list__item-buttons{
        width: 100px;
        padding: 5px 0px;
    }

    .show__hidden-menu{
        top: 35px;
        font-size:  12px;
    }

    .hidden__menu-item{
        margin: 3px 0px;
    }

    .status-completed{
        width: 90px;
    }

    .menu__hidden-delete{
        padding: 5px 10px;
    }
}

@media screen and (max-width: 321px){
    .header__title{
        font-size: 20px;
        margin-bottom: 30px;
    }

    .header__button-addtask{
        width: 130px;
        height: 35px;
        font-size: 15px;
    }

    .modal{
        width: 280px;
        height: 460px;
        left: 6%;
        top: 15%;
    }

    .modal__title{
        margin: 30px 0px 20px;
        font-size: 20px;
    }

    .close-btn{
        right: 6%;
        top: 1%;
        font-size: 25px;
    }

    .onhold__title{
        font-size: 14px;
    }
}